<launch>
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>

  <param name="robot_description"
         command="$(find xacro)/xacro $(find jaka_zu12_2f85_description)/urdf/jaka_zu12_2f85.urdf.xacro" />

  <rosparam file="$(find jaka_zu12_2f85_description)/config/gazebo_arm_control.yaml" command="load"/>
  <rosparam file="$(find jaka_zu12_2f85_description)/config/arm_controllers.yaml" command="load"/>

  <node name="robot_state_publisher"
        pkg="robot_state_publisher"
        type="robot_state_publisher"
        output="screen" />

  <node name="spawn_urdf"
        pkg="gazebo_ros"
        type="spawn_model"
        args="-urdf -param robot_description -model jaka_zu12_2f85 -z 0.0"
        output="screen" />

  <node name="controller_spawner"
        pkg="controller_manager"
        type="spawner"
        respawn="false"
        output="screen"
        args="joint_state_controller arm_controller gripper_controller"/>
</launch>
